QWidget {
    background-color: #f0f0f0;
}

QPushButton {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    margin: 4px 2px;
    border-radius: 8px;
}

QPushButton:hover {
    background-color: #45a049;
}
